.card-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.card-detail-container {
  width: 250px;
}
.card-img {
  margin-bottom: 10px;
  height: 260px;
  padding: 10px;
  img {
    border-radius: 4px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.card-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
}
.detail-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.detail-speciality {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  color: #3413D8;
  line-height: 19.6px;
  margin-bottom: 14px;
}
.detail-experience {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #888;
}
.detail-rating{
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}
.book-btn {
  background-color: #3413D8;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}
.book-btn:hover {
  background-color: #5113D6;
}
.book-btn button {
  background: none;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.cancel-btn {
  background-color: #AD1515;
  border: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

/* POPUP */
.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  /* display: flex;
  align-items: center;
  text-align: center; */
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.8fr;
  overflow: scroll;
}
.popup-container .close {
  width: 50px;
  height: 50px;
  justify-self: start;
  border: 0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.popup-card {
  grid-column: 2 / 3;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sign-form {
    margin-top: 0;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    width: 100%;
    input {
      width: 100%;
    }
  }
}
.popup-card .card-img {
  width: 100%;
  height: 400px;
  img {
    object-fit: contain;
  }
}
.popup-card h3 {
  margin: 20px 0 30px 0;
  font-size: 24px;
  color: #3413D8;
}
.card-details p {
  text-align: left;
  margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
  .popup-container {
    grid-template-columns: 0fr 1fr 0fr;
  }
  .popup-card .card-img {
    width: 100%;
    height: 200px;
  } 
  .popup-card {
    .sign-form {
      grid-template-columns: 0.2fr 1fr 0.2fr;
    }
  }
  .popup-container .close {
    grid-column: 2 / 3;
    position: absolute;
    right: 0;
    background: none;
  }
}