#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}
* {
  margin: 0;
  box-sizing: border-box; 
  font-family: "Inter", sans-serif;
}
body {
  height: 100vh;
}
button, a {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #333;
}
button {
  font-size: 18px;
}