.card-container {
  border: 2px solid black;
  border-radius: 8px;
  width: 250px;
  padding: 20px 0 0 0;
  overflow: hidden;
}
.card-image {
  text-align: center;
  font-size: 80px;
  color: #007250;
  margin-bottom: 10px;
}
.card-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
}
.detail-name {
  font-size: 18px;
  font-weight: bold;
}
.detail-speciality {
  font-size: 16px;
}
.detail-experience {
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.detail-rating{
  font-weight: bold;
}
.book-btn {
  background-color: #3498db;
  border: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}
/* .book-btn:hover {
  background-color: red;
} */
.book-btn button {
  background: none;
}
.book-btn button:hover {
  background: none;
}


.book-appoinment-btn div:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
}
.modal-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}

.modal-content {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
max-width: 400px;
text-align: center;
}

.modal-content h3 {
margin-top: 0;
}

.modal-content p {
margin-bottom: 20px;
}

.modal-btn {
display: inline-block;
padding: 8px 16px;
background-color: #2196f3;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
}
.doctorbg{
-webkit-scrollbar {
  display: none;
}



}
.modal-btn:hover {
background-color: #0d8af5;
}

.cancel-appointment-btn {
display: inline-block;
padding: 8px 16px;
background-color: #f44336;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.cancel-appointment-btn:hover {
background-color: #d63027;
}
.appointment-form {
max-width: 400px;
margin: 0 auto;
padding: 20px;
background-color: #f5f5f5;
border-radius: 8px;
/* height: auto;
overflow-y: auto; */
}

.form-group {
margin-bottom: 20px;
}

label {
display: block;
font-weight: bold;
margin-bottom: 8px;
}

input,
textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 16px;
}

button {
padding: 12px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background-color: #0056b3;
}


.btnslot{
background-color: green;
cursor: pointer;
/* color: rgb(249, 60, 60); */
}
