* {
  box-sizing: border-box;
}
.head-text {
  margin-top: 100px;
  text-align: center;
}
.head-text span {
  margin-left: 5px;
}

.sign-form {
  display: grid;
  grid-template-columns: 10vh auto 10vh;
  row-gap: 12px;
  justify-content: center;
  margin-top: 30px;
}
.sign-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}
.select-group, .form-group, .btn-group {
  grid-column: 2 / 3;
} 

.select-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-body select {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  appearance: none;
}
.select-icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
}

.form-group input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-group {
  margin-top: 10px;
  text-align: center;
}
.btn-group button {
  margin: 5px 0;
  padding: 10px;
  width: 100px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary {
  background-color: blue;
  color: #fff;
}
.btn-danger {
  background-color: red;
  color: #fff;
}

.under-text {
  grid-column: 2 / 3;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
.under-text span {
  color: red;
  margin-left: 5px;
}

