/* SERVICES */
.service-page p {
  margin-top: 20px;
}
.service-layout {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.service-card-container {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 16px;
  padding: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.img-box {
  width: 250px;
  height: 230px;
  overflow: hidden;
}
.img-box img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
.service-name {
  grid-row: 2 /3;
  justify-self: start;
  font-weight: 600;
}

/* REVIEW + REPORTS*/
.review-layout {
  margin: 0 5vw;
}
.table-rv {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.table-rv tr {
  border-bottom: 1px solid;
}
.table-head {
  background-color: #3413D8;
  color: #fff;
  text-align: center;
}
.table-head th, td {
  padding: 10px;
}
.table-body .tb-info {
  text-align: left;
  font-style: italic;
  font-weight: 300;
}
.table-rv button {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: 0px;
}
.table-body td:nth-child(1) {
  width: 8%;
  text-align: center;
}
.table-body td:nth-child(4) {
  width: 15%;
  text-align: center;
}
.table-body td:nth-child(5) {
  width: 40%;
  text-align: left;
  font-style: italic;
  font-weight: 300;
}
.form-group textarea {
  width: 250px;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
}

#reports td:nth-child(4), #reports td:nth-child(5) {
  width: 25%;
  text-align: center;
}

/* SETTINGS */
.edit-table {
  margin-top: 20px;  
}
.edit-label {
  font-weight: bold;
  text-align: left;
}
.edit-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.edit-btn {
  padding: 8px;
  border-radius: 8px;
  border: 0;
  width: 80px;
}
.edit-form {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
