.header {
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0;
  z-index: 999;
  position: relative;
}

/* LOGO -------------------------------------------------- */
.logo {
  display: block;
}
#logo a {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #5113D6;
}

/* NAVBAR ------------------------------------------------- */
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar a:hover {
  color:#5113D6;
}
.navbar ul, .btn-log {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 0;
}
.navbar li {
  display: block;
  font-weight: 600;
  padding: 20px 10px;
}
.navbar button {
  width: 100px;
  padding: 6px;
  font-weight: 400;
  border-radius: 16px;
  background-color:#3413D8;
  border: 0px;
  color: #fff;
}
.navbar button:hover {
  scale: 1.05;
  color: white;
}

/* DROPDOWN -------------------------------------------------- */
#profile {
  /* display: none; */
  position: relative;
}
#dropdown-pf {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 15px;
  padding: 0;
  background-color: #fefefe;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* gap: 0; */
}
.dropdown-pf:hover #dropdown-pf {
  display: block;
}
/* DROPDOW CONTENT */
.dropdown-pf-menu li {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 0;
}
.dropdown-pf-menu li a {
  display: block;
  padding: 15px 0;
  width: 100px;
}
.dropdown-pf-menu li a:hover {
  background-color: blue;
  color: #fefefe;
}

/* SIDE menu ----------------------------------------------------- */
.side_menu {
  display: none;
  position: absolute;
  right: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #5113D6;
  cursor: pointer;
}
#check {
  display: none;
}

/* Responsive ----------------------------------------------------- */

@media screen and (max-width: 900px) {
  .header {
    padding: 1rem 0;
  }
  .side_menu {
    display: inline-flex;
  }
  .side_menu #close-icon {
    display: none;
  }
  #check:checked~.side_menu #menu-icon {
    display: none;
  }
  #check:checked~.side_menu #close-icon {
    display: block;
  }
  #check:checked~.navbar {
    height: auto;
    padding-bottom: 20px;
  }
  .navbar {
    display: grid;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 0;
    justify-items: center;
    background: rgba(205, 205, 205, 0.1);
    backdrop-filter: blur(20px);
    transition: .3s ease;
    overflow: hidden;
    gap: 0;
  }
  .navbar ul {
    display: block;
  }
  .navbar li {
    padding: 8px 0;
  }
  .navbar button {
    margin-top: 10px;
  }
  .dropdown-pf:hover #dropdown-pf {
    position: relative;
  }
  #dropdown-pf li {
    padding: 0;
  }
  
}
