<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
  <link rel="stylesheet" href="../SignUp/signup.css">
</head>
<body>
  <div class="head-text">
    <h1>Login</h1>
    <div>
      Are you a new member? 
      <span>
        <a href="./SignUp.html">Sign up here</a>
      </span>
    </div>
  </div>
  <form action="" class="sign-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required
      class="form-control" placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" name="pwd" id="pwd" required
      class="form-control" placeholder="Enter your password">
    </div>
    <div class="btn-group">
      <button type="submit" class="btn-primary">Submit</button>
    </div>  
    <div class="under-text">
      Forgot password?
      <span>
        <a href="../">Reset</a>
      </span>
    </div>
  </form>
  
</body>
</html>