#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.5rem;
  text-align: center;
}
* {
  margin: 0;
  box-sizing: border-box; 
  font-family: "Inter", sans-serif;
}
body {
  height: 100vh;
}
button, a {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #333;
}
button {
  font-size: 18px;
}
h2 {
  font-size: 36px;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 28px;
  }
}

/* NOTIFICATIONS */
.notify {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #091474;
  color: #fff;
  text-align: left;
  line-height: 1.8;
  padding: 2% 4%;
  border-radius: 16px;
}
.notify button {
  position: absolute;
  top: 0;
  right: 0;
}